   <div class="container-fluid">
        <div class="row">
            <p class="col text-center my-5">Worker Bee</p>
        </div>
        <div class="row d-flex justify-content-center">
            <img src="../images/bee.png" class="col-1 mb-5">
        </div>
        <div class="row justify-content-center">
            <button class="btn col-2 mx-2 fs-4">Login</button>
            <button class="btn col-2 mx-2 fs-4">Sign up</button>
        </div>
        <div class="row">
            <p class="text-center fs-3 mt-5">Welcome!</p>
        </div>
        <div class="row justify-content-center">
            <p class="text-center fs-6 mt-5 col-4">A refined and modernized employee hour tracking software. Easily track and maintain employee hours and payroll.</p>
        </div>
        <div class="row">
            <footer class="text-center pt-3">The Hive™</footer>
        </div>
    </div>